[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/LuminitaD
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/LuminitaD
	label-Verified = -1..+1 group user/LuminitaD
	push = group user/LuminitaD
	read = group user/LuminitaD
	rebase = group user/LuminitaD
	removeReviewer = group user/LuminitaD
	submit = group user/LuminitaD
[access "refs/heads/*"]
	create = group user/LuminitaD
	push = +force group user/LuminitaD
	pushMerge = group user/LuminitaD
	read = group user/LuminitaD
[access "refs/tags/*"]
	push = group user/LuminitaD
	push = +force group user/LuminitaD
